body {
    background-color: #c3e7dd;
    overflow:scroll;
    width:auto;
    height:100vh;
}
header {
    text-align: center;
    padding: 20px;
    background-color: rgb(18, 7, 143) ;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between; 
    margin: 0;
}
nav li {
    flex: 1; 
    text-align: center; 
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    display: block;
}
a:hover {
    color:black
}
nav {
    background-color: #153be4;
    color: white;
    padding: 10px;
    border-bottom: 4px solid #10c4e3;
}

main {
    display: flex;
    padding: 3px;
    gap: 20px;
    padding-top: 20px ;   
}
.taolahai {
    flex: 3;
    background-color:white ;
    padding: 15px;
    border: 1px solid #ccc;
}
aside {
    flex: 1;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
}
.anhfounder {
    background-color: rgb(176, 165, 85)  ;
    padding: 50px;
    text-align: center;
    font-size: 16px;
    color: #333;
}